<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <configfilelocation>C:\NAV\Instances\</configfilelocation>
  <searchfolder>C:\NAV\Versions\</searchfolder>
  <navversions>
    <navversion version="8.0.38798">
      <RTCFolder>C:\Program Files (x86)\Microsoft Dynamics NAV\80\RoleTailored Client\</RTCFolder>
      <NSTFolder>C:\Program Files\Microsoft Dynamics NAV\80\Service</NSTFolder>
    </navversion>
    <navversion version="8.0.40262">
      <RTCFolder>C:\Program Files (x86)\Microsoft Dynamics NAV\80.40262\RoleTailored Client</RTCFolder>
      <NSTFolder>C:\Program Files\Microsoft Dynamics NAV\80.40262\Service</NSTFolder>
    </navversion>
  </navversions>
  <mappings>
    <mapping database="71040">
      <navversion version="8.0.38798"/>
    </mapping>
    <mapping database="71050">
      <navversion version="8.0.40262"/>
    </mapping>
  </mappings>
</settings>